.footer_container{
    width: 100%;
    height: 220px;
    background: #333333;
    text-align: center;
    margin-bottom: 0px;
}
.footer_container>p{
    height: 30px;
    line-height: 30px;
    color:honeydew;
    margin: 0 !important;
}
.footer_container>img{
    height: 130px;
    width: 130px;
}