a, a:link, a:focus, a:hover, a:visited {
    text-decoration: none !important;
}

* {
    margin: 0;
    padding: 0;
}

div.footer {
    margin: 0px 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
}

div.footer_ensure {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

div.footer_desc {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
    padding-top: 30px;
    margin: 0px 20px;
}

div.footer_desc div.descColumn {
    width: 20%;
    float: left;
    padding-left: 15px;
}

div.footer_desc div.descColumn span.descColumnTitle {
    color: #646464;
    font-weight: bold;
    font-size: 16px;
}

div.footer_desc a {
    display: block;
    padding-top: 3px;
}

body {
    font-size: 12px;
    font-family: Arial;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #C40000;
}

/*头部导航开始*/
.headbar {
    background-color: #3d444c;
    height: 60px;
    line-height: 60px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.headbar h1 {
    width: 250px;
    height: 60px;
    margin: 0;
}

.headbar h1 a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    display: inline-block;
    color: #3387cc;
}

.headbar a {
    color: ghostwhite;
}

.headbar > ul {
    list-style: none;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.headbar > ul > li {
    font-size: 20px;
    height: 100%;
    width: 20%;
    text-align: center;
}

.headbar > ul > li > a {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid transparent;
    transition: all 1s;
}

.headbar > ul > li > a:hover {
    border-bottom-color: #e9e9e9;
}

.headbar a:hover {
    color: #237ab7;
}

.login_container{
    display: inline-block;
    height: 100%;
    width: 200px;
}
.login_container a{
    display: inline-block;
    height: 100%;
    font-size: 16px;
    line-height: 60px;
    margin-right: 20px;
}
/*头部导航结束*/

div.categoryWithCarousel div.head {
    width: 200px;
    background-color: rgb(48, 54, 69);
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(113, 177, 194);
    margin-left: 00px;
    margin-right: 30px;
    display: inline-block;
}

div.categoryWithCarousel div.rightMenu {
    display: inline-block;
}

div.categoryWithCarousel div.rightMenu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

div.categoryWithCarousel div.rightMenu span {
    line-height: 60px;
    margin: 0px 20px 0px 20px;
}

div.categoryWithCarousel div.rightMenu img {
    height: 30px;
}

div.carousel-of-product {
    height: 510px;
    width: 1024px;
    margin: 0px auto;
}

img.carouselImage {
    height: 510px !important;
}

div.carouselBackgroundDiv {
    width: 100%;
    height: 510px;
    background-color: #E8E8E8;
    position: absolute;
    top: 36px;
    z-index: -1;
}

.button {
    background-color: rgb(66, 182, 238);
    border: none;
    color: white;
    padding: 5px 2px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 16px;
    float: right;
    margin-right: 20px;
}