*{
    margin: 0;
    padding: 0;
}

.row{
    background: #237ab7;
    height: 50px;
    border-bottom: 2px solid #ccc;
}
.rowContainer{
    height: 70px;
    line-height: 70px;
}

.coll{
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #000;

    font-size: 22px;
}
ul{
    list-style: none;
}
li:nth-of-type(even){
    background: rgba(170, 170, 170, 0.8);
}
li:nth-of-type(odd){
    background: white;
}
.rankTitle{
    line-height: 70px;
    font-weight: bold;
    color: white;
}