<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="footer">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.1.1.min.js" th:src="@{/static/js/jquery-3.1.1.min.js}"></script>
    <script src="/static/js/jquery.form.min.js" th:src="@{/static/js/jquery.form.min.js}"></script>
    <script src="/static/js/tether.min.js" th:src="@{/static/js/tether.min.js}"></script>
    <script src="/static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="/static/js/nprogress.js" th:src="@{/static/js/nprogress.js}"></script>
    <script src="/static/js/thinker-md.vendor.min.js" th:src="@{/static/js/thinker-md.vendor.min.js}"></script>
    <script src="/static/js/bootstrap-tagsinput.js" th:src="@{/static/js/jquery.tagsinput.min.js}"></script>
    <script src="/static/js/chosen.jquery.js" th:src="@{/static/js/chosen.jquery.js}"></script>
    <script src="/static/js/toastr.min.js" th:src="@{/static/js/toastr.min.js}"></script>
    <script src="/static/js/cropbox.js" th:src="@{/static/js/cropbox.js}"></script>
    <script src="/static/js/thymeleaf-bootstrap-paginator.js" th:src="@{/static/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="/static/js/catalog-generator.js" th:src="@{/static/js/catalog-generator.js}"></script>
    <script src="/static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>

<footer class="blog-footer bg-inverse" data-th-fragment="footer">
    <div class="container">
        <p class="m-0 text-center text-white" style="color: #999;">Copyright © 2019 北京邮电大学移动生活与新媒体实验室工业智能小组 All Rights Reserved.

            © 京ICP备19015152号-1</p>
    </div>
 </footer>
</body>
</html>