<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koala.learn.dao.ClassifierParamMapper" >
  <resultMap id="BaseResultMap" type="com.koala.learn.entity.ClassifierParam" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="classifier_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="param_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="default_value" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.koala.learn.entity.ClassifierParam" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="classifier_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="param_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="default_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="param_des" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, classifier_id, param_name, default_value
  </sql>
  <sql id="Blob_Column_List" >
    param_des
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from classifier_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classifier_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.koala.learn.entity.ClassifierParam" >
    insert into classifier_param (id, classifier_id, param_name, 
      default_value, param_des)
    values (#{id,jdbcType=INTEGER}, #{classifierId,jdbcType=INTEGER}, #{paramName,jdbcType=VARCHAR}, 
      #{defaultValue,jdbcType=VARCHAR}, #{paramDes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.koala.learn.entity.ClassifierParam" >
    insert into classifier_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classifierId != null" >
        classifier_id,
      </if>
      <if test="paramName != null" >
        param_name,
      </if>
      <if test="defaultValue != null" >
        default_value,
      </if>
      <if test="paramDes != null" >
        param_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classifierId != null" >
        #{classifierId,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="paramDes != null" >
        #{paramDes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.koala.learn.entity.ClassifierParam" >
    update classifier_param
    <set >
      <if test="classifierId != null" >
        classifier_id = #{classifierId,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        default_value = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="paramDes != null" >
        param_des = #{paramDes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.koala.learn.entity.ClassifierParam" >
    update classifier_param
    set classifier_id = #{classifierId,jdbcType=INTEGER},
      param_name = #{paramName,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=VARCHAR},
      param_des = #{paramDes,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.koala.learn.entity.ClassifierParam" >
    update classifier_param
    set classifier_id = #{classifierId,jdbcType=INTEGER},
      param_name = #{paramName,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByClassifierId" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from classifier_param
    WHERE classifier_id = #{classifierId}
  </select>
</mapper>