<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koala.learn.dao.ClassifierMapper" >
  <resultMap id="BaseResultMap" type="com.koala.learn.entity.Classifier" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lab_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="path" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.koala.learn.entity.Classifier" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lab_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="path" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="des" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, lab_id, path
  </sql>
  <sql id="Blob_Column_List" >
    des
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from classifier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classifier
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.koala.learn.entity.Classifier" useGeneratedKeys="true" keyProperty="id" >
    insert into classifier (id, name, lab_id, 
      path, des)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{labId,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR}, #{des,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.koala.learn.entity.Classifier" >
    insert into classifier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="labId != null" >
        lab_id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="des != null" >
        des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="labId != null" >
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        #{des,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.koala.learn.entity.Classifier" >
    update classifier
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="labId != null" >
        lab_id = #{labId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.koala.learn.entity.Classifier" >
    update classifier
    set name = #{name,jdbcType=VARCHAR},
      lab_id = #{labId,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      des = #{des,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.koala.learn.entity.Classifier" >
    update classifier
    set name = #{name,jdbcType=VARCHAR},
      lab_id = #{labId,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByLabId" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from classifier
    WHERE lab_id = #{labId}
  </select>

  <select id="selectByLabel" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from classifier
    WHERE path = #{label}
  </select>
</mapper>